@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular-font {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* navbar style start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>ul>li {
    list-style: none;
}

.navbar>ul>li>a {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);
    font-weight: 500;
}

.navbar>ul>li>a>img {
    opacity: 0.5;
}

.navbar-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}

.navbar-list {
    display: flex;
    gap: 34px;
}

/* navbar style end */

/* banner style start */

.banner {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.banner-btn {
    background-color: rgba(224, 44, 109, 1);
    border-radius: 41px;
    border: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px 24px;
    cursor: pointer;
}

.next-icon {
    filter: brightness(0) saturate(100%) invert(92%) sepia(8%) saturate(30%) hue-rotate(278deg) brightness(106%) contrast(108%);
}

.banner-heading {
    font-size: 3.25rem;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 16px;
}

.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 16px;
}

.banner-img{
    background-image: url(../images/Circle\ design.svg);
    width: 475px;
    height: 475px;
}

.camera{
    transform: scale(0.92) translateX(-10px) translateY(30px);
}

/* banner style end */

/* important websites */

.websites{
    height: 110px;
    width: 1110px;
    margin: 69px auto;
    border: 1px solid rgba(192, 204, 218, 0.6);
    border-left: none;
    border-right: none;
}

.website-div{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    padding: 36px 62px;
}

/* main style */

/* shopping card style */

.shopping{
    width: 1047px;
    margin: 100px auto;
}

.shopping-heading{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.shopping-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 0px 74px 0px;
}

.card{
    width: 300px;
    height: 476px;
    padding: 17px 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card-heading{
    font-size: 1.75rem;
    font-weight: 500;
    color: rgb(24, 25, 31);
    margin-top: 15px;
    margin-bottom: 6px;
}

.price-item{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 6px;
    margin-bottom: 0px;
}

.item-des{
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(120, 120, 133);
    margin-top: 0px;
}

.iconic{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;

}

.icon-number{
    font-size: 0.98rem;
    font-weight: 700;
    color: rgb(94, 99, 102);
}

.checked{
    color: orange;
}

/* main card style end */

/* main featured style */

.featured{
    display: flex;
    gap: 96px;
    justify-content: center;
    align-items: center;
}

.featured-des-heading{
    font-size: 2.4rem;
    font-weight: 700;
    color: rgb(10, 8, 38);
}

.featured-des-des{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(108, 108, 108);
}

/* end the style of main */

/* footer style */

footer {
    background-color: rgba(10, 8, 38, 1);
    margin-top: 120px;
}

.footer-heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255);
    margin-bottom: 3px;
}

.footer-section{
    padding: 50px 589px;
    text-align: center;
}

.description{
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(217, 219, 225);
    margin-top: 3px;
}

@media screen and (max-width:576px) {

    body {
        width: 360px;
    }

    .navbar, .navbar-list, .banner, .featured{
        flex-direction: column;
    }

    .websites{
        border: none;
    }

    .website-div{
        grid-template-columns:repeat(3, 110px);
        gap: 15px;
    }

    .shopping{
        margin-bottom: -60px;
    }

    .shopping-card{
        grid-template-columns: repeat(1, 330px);
    }

    .banner-things{
        order: 2;
    }

    .media{
        grid-column: -3;
    }

    .featured{
        gap: 40px;
    }

    .featured-pic{
        order: 2;
    }
}